<h3>Please login</h3>
<%= form_tag '/sessions' do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "sign-in!" %>
<% end %>