<h2>edit your group</h2>

<%= form_for(@group) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
  
  <% @contacts.each do |contact| %>
    <div>
      <%= check_box_tag "group[contact_ids][]", contact.id, @group.contacts.include?(contact) %>
      <%= contact.name %>
    </div>  
  <% end %>


  <%= f.submit %>

  <%= button_to "delete this group", @group, :method => :delete, :confirm => "Are you sure?" %>

<% end %>
