<div id="groups">
  <% @groups.each do |g|  %>
    <li class="group" id="<%= g.id %>"><%= link_to g.name, edit_group_path(g) %></li>
  <% end %>
</div>
<ul class="pager">
   <% if @page == @max_page %>
     <li><%= link_to('Previous', "contacts?page=#{(@page - 1)}") %></li>
  <% elsif @page < @max_page && @page > 0 %>
    <li><%= link_to('Previous', "contacts?page=#{(@page - 1)}") %></li>
    <li><%= link_to('Next', "contacts?page=#{(@page + 1)}") %></li>
  <% else %>
    <li><%= link_to('Next', "contacts?page=#{(@page + 1)}") %></li>
  <% end %>
</ul>