<div class="edit_card">
<h4>edit your contact's info</h4>  

  <span class="edit_pic">
    <img src= <%= "/profilepics/"+ Random.rand(73).+(1).to_s + ".jpg" %> >
  </span>


<%= form_for(@contact) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br/>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %><br/>
    <%= f.submit value: "Update"%>
<% end %>
<%= button_to "Delete", @contact, method: :delete, id: "delete", confirm: "Are you sure?" %>
<%= render 'layouts/errors' %>

</div>
