<div>
<% if user_signed_in? %>
  <%= link_to 'Add your contacts from Google', '/google/import' %>
    <div id="name_column">
      <% @contacts.each do |c| %>
        <div class="row">
          <span class="name">
            <%= link_to c.name, contact_path(c) %>
          </span>
          <span class="phone_number">
            <%= c.phone_number %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "create a new contact", new_contact_path %>
  <%= link_to "create a new group", new_group_path %>

  <% @groups.each do |g|  %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</div>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
