
<div id="name_column">
  <% @contacts.each do |c| %>
    <div class="row">
      <span class="name">
        <%= c.name %>
      </span>
      <span class="phone_number">
        <%= c.phone_number %>
      </span>
    </div>
  <% end %>
</div>


<%= link_to "create a new contact", new_contact_path %>
<br>
<%= link_to "sign in!", signin_path %>
<br>
<%= link_to "signup!", new_user_path %>
<br>
<% if signed_in? %>
  <%= link_to "sign-out!", signout_path, method: "delete" %>
<% end %>