<%= render 'layouts/errors' %>

<h3>enter your contact's info</h3>
  <%= form_for(@contact) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <%= f.submit %>
  <% end %>