<!DOCTYPE html>
<html>
<head>
  <title>Jailbird</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,700|Roboto:400,500,900,100' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="logout">
    <% if user_signed_in? %>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
	</body>
</html>
